ADMIN_GITHUB_USERNAMES=
CHANGED_FILES_THRESHOLD=300
DB_POOL=5
DB_REAPING_FREQUENCY=10
GITHUB_CLIENT_ID=
HOST=hound.example.com
ENABLE_HTTPS=yes
HOUND_GITHUB_USERNAME=
INTERCOM_API_SECRET=
MAX_COMMENTS=10
MAX_THREADS=5
RACK_TIMEOUT=20
SEGMENT_KEY=
STRIPE_PUBLISHABLE_KEY=